@charset "UTF-8";
/* CSS Document */

#modalView {
	display: none;
	position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#content {
	text-align: center;
    background-color: #FFFFFF;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%; 
}

#responseChart {
	display: none;
}

#piechart {
	width: 500px; 
	height: 500px; 
	overflow: hidden;
}

.radioBox {
	align-content: center;
	display: inline-block;
	height: 75px;
	width: 75px;
	vertical-align: top;
	margin: 10px;
}
.radioBox label {
	display: block;
}